.actu-card {
  border-radius: $card__radius;
  overflow: hidden;
  margin-bottom: $global-margin;
  background-color: $secondary-color;
  display: block;
  cursor: pointer;

  &__content {
    border: $card__border;
    border-top: none;
    border-bottom-left-radius: $card__radius;
    border-bottom-right-radius: $card__radius;
    background-color: white;
    float: left;
    padding: $card__padding;
  }
  &__icon {
    width: 70px;
    margin: 20px;
    float: right;
  }
}
@media (min-width: $l-breakpoint) {
  .actu-card {
    &__content {
      border-top-left-radius: $card__radius;
      border-bottom-right-radius: 0;
      width: calc(100% - 110px);
      border: $card__border;
      border-right: none;
    }
  }
}
