.calendar-form {
  background-color: $secondary-color;
  border-radius: $card__radius;
  margin: $global-margin;
  padding: $card__padding;
}
.event-teaser {
  $this: #{&};
  border-bottom: 5px solid $j-blue;
  background-color: #ECEFF1;
  margin: $global-margin 0;
  border-radius: $card__radius;
  padding: $card__padding;
  overflow: hidden;
  display: block;
  cursor: pointer;
  &--soon {
    background-color: $j-brown;
  }
  &--small {
    padding: $card__padding/2;
    #{$this}__title {
      font-size: 1.6rem;
      margin-top: 5px;
    }
    #{$this}__date {
      &__year {
        display: none;
      }
    }
  }
  &__title {
    margin: 15px 0 0;
    @media (min-width: $m-breakpoint) {
      float: left;
      width: calc(100% - 100px);
    }

    }
  &__date {

    @media (min-width: $m-breakpoint) {
      float: right;
      width: 100px;
      text-align: right;
    }
    &__day {
      font-size: 2rem;
      width: 100%;
    }
    &__year {
      width: 100%;
    }
  }
}
.search-button {
  margin: 20px;
  height: 50px;
  border: none;
  border-radius: $card__radius;
  background-color: $j-blue;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
