.event {
  &__data {
    margin: 10px 0;
    display: flex;
    font-size: 19px;
    &__icon {
      margin-right: 10px;
      min-width: 25px;
    }
  }
  &__description {
    margin-top: 20px;
  }
}
