.gallery{
  &__item {
    border-radius: $card__radius;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: $global-margin;
    transition: $transtion-time;
    position: relative;
    box-shadow: $container__shadow;
    img {
      display: block;
      margin: auto;
    }
    @media (min-width: $l-breakpoint) {
      height: 300px;
      box-shadow: none;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      &:hover {
        box-shadow: $container__shadow;
        transform: translateX(-3px) translateY(-3px);
      }
    }

  }
}
