html {
  font-size: $s-font;
  color: $text-color;
  font-family: $text-family;
  background-image: url("../imgs/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  line-height: 1.5;
}
* {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}
%container {
  width: $xs-container;
  margin: auto;
  overflow: hidden;
}
.container-card {
  background-color: $main-color;
  border-radius: $container__radius;
  box-shadow: $container__shadow;
  padding: 65px 5%;
  margin-bottom: 100px;
}


/* Feuille de style intégrée #11 | http://judo.local/ */

.link-read-more {
  font-size: .5em;
  color: $j-blue;
}


.container-invisible {
  @extend %container;
  margin-bottom: 100px;
}
.container {
  @extend %container;
  @extend .container-card;


  &.float {
    margin-top: -100px;
    padding-top: 35px;
    @media (min-width: $l-breakpoint) {
      padding-top: 65px;
      margin-top: -200px;
    }
    }
  &.margin{
    margin-top: 100px;
  }
}


@media (min-width: $s-breakpoint) {
  %container {
    width: $s-container;
  }
}

@media (min-width: $m-breakpoint) {
  %container {
    width: $m-container;
  }
}

@media (min-width: $l-breakpoint) {
  %container {
    width: $l-container;
  }
  html {
    font-size: $l-font;
  }
}

@media (min-width: $xl-breakpoint) {
  %container {
    width: $xl-container;
  }
}

h1 {
  text-align: center;
  font-family: $title-family;
  color: $title-color;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 60px;
}

h2 {
  font-family: $title-family;
  color: $title-color;
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 32px;
}

h3 {
  font-family: $title-family;
  color: $title-color;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

h4 {
  font-family: $title-family;
  color: $title-color;
  font-weight: 600;
  font-size: 1.4rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  overflow: hidden;
}

@media (min-width: $l-breakpoint) {
  h1 {
    font-size: 4rem;
  }
  @for $i from 0 through 12 {
    .col_#{$i} {
      width: calc(#{(100% / 12) * $i } - #{$global-margin} - #{$global-margin * $i / 12 });
      margin-left: $global-margin;
      float: left;
    }
  }
  .wide-row {
    margin: 0 -#{$global-margin * 1.5};
    overflow: hidden;
    padding: 25px $global-margin 25px 0;
  }
}
