$lightbox-base-color: $main-color;
$lightbox-transition-duration: .5s;
$lightbox-max-height: "90vh";
$lightbox-max-width: "100vw - 120px";
$lightbox-padding: 20px;
$lightbox-min-display: $m-breakpoint;

.lightbox {


  &__background {
    @media (max-width: $lightbox-min-display) {
      display: none !important;
    }
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .8);
    z-index: 5000;
    display: none;

    &.opened {
      display: block;
    }
  }

  $base: &;

  &__inner {
    position: absolute;
    max-width: calc(#{$lightbox-max-width});
    max-height: calc(#{$lightbox-max-height});
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: $lightbox-transition-duration;
    padding: $lightbox-padding;
    background-color: $lightbox-base-color;
    border-radius: 20px 15px 15px 15px;

    img {
      position: relative;
      z-index: 2;
      max-height: 100%;
      max-width: 100%;
      background-color: white;
      transition: opacity .3s $lightbox-transition-duration;
    }

    &::after {
      animation: rotate 1s infinite;
      content: '';
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: $j-red;
      box-shadow: 30px 30px $j-brown, 30px -30px $j-blue, -30px 30px $j-green, -30px -30px $j-orange, -30px -30px $j-yellow;
      border-radius: 15px;
      z-index: 1;
    }

    &.loading {

      img {
        transition: none;
        opacity: 0;
        max-width: calc(#{$lightbox-max-width} - #{$lightbox-padding*2});
        max-height: calc(#{$lightbox-max-height} - #{$lightbox-padding*2});
      }

      #{$base}__label {
        display: none;
      }
    }
  }

  &__arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: $lightbox-padding solid transparent;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    &--prev {
      left: 0;
      border-right-color: $lightbox-base-color;
    }

    &--next {
      right: 0;
      border-left-color: $lightbox-base-color;
    }

  }

  &__label {
    position: absolute;
    left: 0;
    padding: $lightbox-padding $lightbox-padding $lightbox-padding/2;
    background-color: $lightbox-base-color;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &.hidden {
      display: none;
    }
  }

  &__close {
    background-color: darken($lightbox-base-color, 5);
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    top: 0;
    left: 0;
    cursor: pointer;

    &::before, &::after {
      content: "";
      background-color: black;
      height: 3px;
      width: 20px;
      transform-origin: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);

    }
  }
}
 @keyframes rotate {
   0% {
     transform: translateX(-50%) translateY(-50%) rotate(0deg);
   }
   100% {
     transform: translateX(-50%) translateY(-50%) rotate(360deg);
   }
 }
