.picture-card {
  border-radius: $card__radius;
  margin-bottom: $global-margin;
  overflow: hidden;
  position: relative;
  display: block;
  cursor: pointer;
  &__title {
    background-color: $secondary-color;
    padding: $card__padding;
    margin: 0;
  }
  &__thumb {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 230px;
  }
}
