.presentation {
  &__thumb {
    border-radius: $card__radius;
    margin-bottom: $global-margin;
  }

  &__title {
    font-size: 3.5rem;
  }
}

@media (min-width: $l-breakpoint) {
  .presentation {
    padding-right: 20px;

    &:nth-child(even) {
      padding-right: 0;
      padding-left: 20px;

    }
  }
}
