.dselect {
  background-color: white;
  position: relative;
  border: 1px solid #5a5c6030;
  cursor: pointer;
  margin: 20px;
  &__label {
    z-index: 2;
    padding: 10px;
    display: block;
    &__title {
      display: inline-block;
      width: calc(100% - 50px);
      transform: translateY(-5px);
    }
    &__arrow {
      display: inline-block;
      width: 50px;
      text-align: right;
      svg {
        height: 100%;
        display: inline-block;
        transform: translateY(5px);
      }
      &.reversed {
        svg {
          transform: rotate(180deg) translateY(-5px);
        }
      }
    }
  }
  &__option-list {
    width: 100%;
    z-index: 3;
    display: none;
    position: absolute;
    &.opened {
      display: block;
    }
  }
  &__option {
    background-color: white;
    overflow: hidden;
    padding: 10px;
    &__label {
      display: inline-block;
      vertical-align: middle;
    }
    &__radio {
      float: right;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      border: 5px solid $secondary-color;
      background-color: white;
      border-radius: 10px;
      &.checked {
        background-color: $j-blue;
      }
    }
  }
}
