<?php<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    wp_enqueue_script('<%= htmlWebpackPlugin.files.chunks[chunk]["hash"] %>',get_stylesheet_directory_uri().'<%= htmlWebpackPlugin.files.chunks[chunk]["entry"] %>',[],false,true);<% } %>
    wp_enqueue_style('stylesheet', get_stylesheet_uri());

